
.background{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(127, 214, 255);
    
.Container{
    background-color: rgb(255, 217, 0);
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 2%;
    width: 700px;
    height: 650px;
    justify-content: center;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);

    .Typography{
        border-radius: 10px 10px 0 0;
        position: absolute;
        top: -2px;
        left: -2px;
        width: 700px;
        align-items: center;
        justify-content: center;
        margin: 0;
        border: 2px solid black;
        background-color: white;
        // margin-top: -405px;
        

        h1{
            font-family: 'IBM Plex Mono', monospace;
            justify-content: center;
            align-items: center;
            margin-left: 35%;
            margin-right: auto;
        }
        
    }
    


}

}